<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shahul3d.indiasatelliteweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.shahul3d.indiasatelliteweather.controllers.WeatherApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controllers.MainMapActivity_"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.AnimatedMapActivity_" />
        <service android:name=".service.DownloaderService_" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="90bc6f870150459d4681c40e61c608701b9d747d" />
    </application>

</manifest>
